<h2>Editing book</h2>


<%= form_with model:@book,local:true do |f|%>
  <div>
   <%= f.label :Title%>
   <%= f.text_field :title%>
  </div>
  <div>
   <%= f.label :Body%>
   <%= f.text_area :body%>
   <%= f.submit'Create Book'%>
  </div>
<%end%>